@{
    ViewData["Title"] = "O nama";
}

<h1>O nama</h1>

<p>Dobrodošli na našu stranicu za prodaju automobila! Mi smo kompanija koja se bavi prodajom različitih marki i modela automobila.</p>

<p>Naš tim stručnjaka stoji vam na raspolaganju kako bismo vam pomogli pronaći automobil koji odgovara vašim potrebama i budžetu.</p>

<p>Ako imate bilo kakvih pitanja ili želite više informacija, slobodno nas kontaktirajte putem naše Kontakt stranice.</p>

<p>Hvala vam što ste posetili našu stranicu!</p>
